<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.lusarz.pokeapp" >

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:name=".MainApplication"
    android:label="Pokomen app"
    android:allowBackup="false">
</application>
</manifest>
